[Unit]
Description=Use Restic to backup a BTRFS subvolume
# TODO want network
# TODO want disk

[Service]
Type=oneshot

# Allow the script to remount things as needed
PrivateMounts=true

Environment="SNAPSHOT_NAME=@%N"

#Environment="RESTIC_CACHE="
#Environment="BACKUP_EXCLUDES="
Environment="RETENTION_DAYS=7"
Environment="RETENTION_WEEKS=4"
Environment="RETENTION_MONTHS=6"
Environment="RETENTION_YEARS=0"

# Splitting up would allow _another_ ExecStartPre to be added which injects another file into the subvolume & lists the contents to prove the files backed up are the snapshot
# https://unix.stackexchange.com/questions/348450/confused-by-execstartpre-entries-in-systemd-unit-file
# As the service is a `oneshot`, multiple ExecStart could be added to the unit via `.d` directory backing up to many locations

ExecStartPre=/usr/local/bin/btrfs-restic-create-snapshot.sh
ExecStart=/usr/bin/ls -l ${BACKUP_PATHS}
# TODO Default BACKUP_PATHS to $BTRFS_SUBVOL?
ExecStart=/usr/bin/echo ${RESTIC_CACHE} backup --verbose --one-file-system ${BACKUP_EXCLUDES} ${BACKUP_PATHS}
ExecStart=/usr/bin/restic ${RESTIC_CACHE} backup --verbose --one-file-system ${BACKUP_EXCLUDES} ${BACKUP_PATHS}
ExecStart=/usr/bin/restic sapshotss
ExecStart=/usr/bin/tree $RESTIC_REPOSITORY
ExecStartPost=/usr/bin/echo cache-${RESTIC_CACHE} "days-${RETENTION_DAYS}" "weeks-${RETENTION_WEEKS}" "months-${RETENTION_MONTHS}" "years-${RETENTION_YEARS}"
ExecStartPost=/usr/bin/restic ${RESTIC_CACHE} forget --dry-run --prune --max-unused 5G --verbose --keep-daily ${RETENTION_DAYS} --keep-weekly ${RETENTION_WEEKS} --keep-monthly ${RETENTION_MONTHS} --keep-yearly ${RETENTION_YEARS}
#ExecStartPost=/usr/bin/restic ${RESTIC_CACHE} forget --prune --max-unused 5G --verbose --keep-daily ${RETENTION_DAYS} --keep-weekly ${RETENTION_WEEKS} --keep-monthly ${RETENTION_MONTHS} --keep-yearly ${RETENTION_YEARS}
ExecStartPost=/usr/bin/tree ${RESTIC_REPOSITORY}
ExecStopPost=/usr/local/bin/btrfs-restic-delete-snapshot.sh
