[Unit]
Description=Use Restic to backup a BTRFS subvolume
Wants=%N.timer
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot

# Allow the script to remount things as needed
PrivateMounts=true
# Script mounts the BTRFS device under /tmp, as the root device may not be mounted anywhere
# and access is needed to create snapshots
PrivateTmp=true

# Systemd will create a directory for the restic cache
CacheDirectory=%N

# Systemd will create a directory to save when check was last run
StateDirectory=%N

# Use the name of this systemd service as the BTRFS snapshot name
Environment="SNAPSHOT_NAME=@%N"

# Placeholder to allow exclusion of things from backing up, such as `--exclude-file file` or `--exclude-if-present filename[:header]`
Environment="BACKUP_EXCLUDES="

# Subset of data to perform a check of
Environment="CHECK_DATA_SUBSET=0.1%"

# How often the target repositories should be checked - 2 weeks by default
Environment="CHECK_INTERVAL_SECONDS=1209600"

# Keep the last n hourly snapshots
Environment="RETENTION_HOURS=2"
# Keep the last n daily snapshots
Environment="RETENTION_DAYS=7"
# Keep the last n weekly snapshots
Environment="RETENTION_WEEKS=4"
# Keep the last n monthly snapshots
Environment="RETENTION_MONTHS=6"
# Keep the last n yearly snapshots
Environment="RETENTION_YEARS=0"

# Other environment vairables that should be set include RESTIC_REPOSITORY and RESTIC_PASSWORD

ExecStartPre=/usr/local/bin/btrfs-restic-create-snapshot.sh
ExecStart=/usr/local/bin/btrfs-restic-backup.sh --cache-dir $CACHE_DIRECTORY --verbose --one-file-system ${BACKUP_EXCLUDES} ${BACKUP_PATHS:-$BTRFS_SUBVOL}
ExecStart=/usr/local/bin/btrfs-restic-check.sh --read-data-subset ${CHECK_DATA_SUBSET}
ExecStartPost=/usr/bin/restic --cache-dir $CACHE_DIRECTORY forget --prune --max-unused 5G --verbose --keep-hourly ${RETENTION_HOURS} --keep-daily ${RETENTION_DAYS} --keep-weekly ${RETENTION_WEEKS} --keep-monthly ${RETENTION_MONTHS} --keep-yearly ${RETENTION_YEARS}
ExecStopPost=/usr/local/bin/btrfs-restic-delete-snapshot.sh
