[Unit]
Description=Use Restic to backup a BTRFS subvolume
Requires=network-online.target
# TODO want network
# TODO want disk

[Service]
Type=oneshot

# Allow the script to remount things as needed
PrivateMounts=true
# Script mounts the BTRFS device under /tmp, as the root device may not be mounted anywhere
# and access is needed to create snapshots
PrivateTmp=true

# Systemd will create a directory for the restic cache
CacheDirectory=%N

Environment="SNAPSHOT_NAME=@%N"

#Environment="BACKUP_EXCLUDES="
Environment="RETENTION_HOURS=2"
Environment="RETENTION_DAYS=7"
Environment="RETENTION_WEEKS=4"
Environment="RETENTION_MONTHS=6"
Environment="RETENTION_YEARS=0"

# TODO if this was an ExecStart instead, then monitoring for this service could use a ExecStartPre to send a 'starting' call
#      but this would mean not being able to test that a backup is taken of the snapshot...
ExecStartPre=/usr/local/bin/btrfs-restic-create-snapshot.sh
# TODO Default BACKUP_PATHS to $BTRFS_SUBVOL?
ExecStart=/usr/local/bin/btrfs-restic-backup.sh --cache-dir $CACHE_DIRECTORY backup --verbose --one-file-system ${BACKUP_EXCLUDES} ${BACKUP_PATHS}
ExecStartPost=/usr/bin/restic --cache-dir $CACHE_DIRECTORY forget --prune --max-unused 5G --verbose --keep-hourly ${RETENTION_HOURS} --keep-daily ${RETENTION_DAYS} --keep-weekly ${RETENTION_WEEKS} --keep-monthly ${RETENTION_MONTHS} --keep-yearly ${RETENTION_YEARS}
ExecStopPost=/usr/local/bin/btrfs-restic-delete-snapshot.sh

